# Ignorar coisas que só pesam no build context
node_modules
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
#.yarn/releases
#.yarn/plugins
**/.DS_Store
#**/dist
**/.turbo
**/coverage
.git
